<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--    autowiring byName: it will check object name with bean ID -->
<!--    <bean id="diselEng" class="ashokIT.__Autowired_App.DiselEngine"  />-->
<!--    <bean id="car" class="ashokIT.__Autowired_App.Car" autowire="byName"  />-->


<!--    autowiring byType: it will check userdefined dataType of independent class with bean class-->
<!--    <bean id="xyz" class="ashokIT.__Autowired_App.DiselEngine" autowire-candidate="false"  />-->
<!--    <bean id="abc" class="ashokIT.__Autowired_App.DiselEngine"  />-->
<!--    <bean id="car" class="ashokIT.__Autowired_App.Car" autowire="byType"  />-->


    <!--    autowiring as constructor: autowiring through constructor-->
        <bean id="diselEng" class="ashokIT.__Autowired_App.DiselEngine"  />
        <bean id="car" class="ashokIT.__Autowired_App.Car" autowire="constructor"  />


</beans>