<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="creditCard" class="in.ashokIT.CreditcardPayment"/>

    <bean id="debitCard" class="in.ashokIT.DebitcardPayment" />

    <bean id="upi" class="in.ashokIT.UpiPayment" />

    <bean id="billCollector" class="in.ashokIT.BillCollector" >
<!--        <property name="payment" ref="creditCard" ></property>-->
        <constructor-arg name="payment" ref="upi"  />
    </bean>

</beans>